@font-face {
  font-family: "iconfont"; /* Project id 3554410 */
  src: url('iconfont.woff2?t=1659357905869') format('woff2'),
       url('iconfont.woff?t=1659357905869') format('woff'),
       url('iconfont.ttf?t=1659357905869') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zujian-zuoyouhuadongtu:before {
  content: "\e60a";
}

.icon-danchuang:before {
  content: "\e63c";
}

.icon-accordion:before {
  content: "\e639";
}

.icon-xuanxiangka:before {
  content: "\e709";
}

.icon-caidan:before {
  content: "\e60f";
}

.icon-bim_donghua:before {
  content: "\e6e9";
}

.icon-lunbotuguanli:before {
  content: "\e6a1";
}

.icon-duanxin:before {
  content: "\e6e4";
}

.icon-play-circle:before {
  content: "\e781";
}

.icon-play:before {
  content: "\e6c8";
}

.icon-fangdajing:before {
  content: "\e63d";
}

.icon-kefu:before {
  content: "\e88f";
}

.icon-fanhuidingbu:before {
  content: "\e633";
}

.icon-qq:before {
  content: "\e614";
}

.icon-weixin:before {
  content: "\e8bb";
}

.icon-xiangyingshi:before {
  content: "\e6ae";
}

.icon-shoujizhuti_03xiangce:before {
  content: "\e604";
}

.icon-shoujizhuti_05duanxin:before {
  content: "\e605";
}

.icon-shoujizhuti_08tongxunlu:before {
  content: "\e607";
}

.icon-shoujizhuti_25xiazai:before {
  content: "\e608";
}

.icon-shoujizhuti_15bianqian:before {
  content: "\e609";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-jiantoushang:before {
  content: "\e62d";
}

.icon-jiantouyou:before {
  content: "\e62e";
}

.icon-jiantouxia:before {
  content: "\e62f";
}

.icon-gouwuche1:before {
  content: "\e652";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-31dingwei:before {
  content: "\e600";
}

.icon-liwu:before {
  content: "\e61b";
}

.icon-7tianwuliyoutuihuo:before {
  content: "\e60e";
}

.icon-banshou:before {
  content: "\e659";
}

